@charset "UTF-8";

*{margin: 0;
    font-family: Arial, Helvetica, sans-serif;}

body{background-color: grey;}

header{padding: 80px 0;
    background-image: url(imagens/tec.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;}




.sec-01-padding{padding: 50px 0;
    background-color: rgb(165, 77, 4);}

.sec-01-margin{width: 75%;
    margin: auto;}

.sec-01-flex{display: flex;
    justify-content: center;}

.sec-01-align{margin: 30px 10px;
    text-align: center;
    text-shadow: 1px 1px 1px black;}

.sec-01-img1{background-image: url(imagens/note.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin: auto;}

.sec-01-img2{background-image: url(imagens/hospedagem.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin: auto;}

.sec-01-img3{background-image: url(imagens/chat.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin: auto;}

.sec-01-align h1{margin: 13px 0;
    color: white;}

.sec-01-align p{line-height: 23px;
    margin-bottom: 25px;
    color: white;}

.sec-01-align a{text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 5px;
    border: 2px solid white;
    padding: 7px 30px;}

@media(max-width: 585px){
    .sec-01-flex{flex-direction: column;
        height: auto;}}





.sec-02-padding{padding: 75px 0;
    background-color: rgb(141, 67, 6);}

.sec-02-margin{width: 90%;
    margin: auto;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;}

.sec-02-margin h4{color: orange;
    margin-bottom: 15px;}

.sec-02-p{margin-bottom: 25px;}

.sec-02-margin a{text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 5px;
    border: 2px solid white;
    padding: 7px 30px;;}





.footer-padding{padding: 50px;
    background-color: rgb(29, 39, 71);}

.footer-margin{width: 90%;
    margin: auto;}

.footer-flex{display: flex;
    justify-content: center;;}

.footer-config{margin: 15px 60px;}

.footer-config h4{color: rgba(255, 255, 255, 0.863);
    text-shadow: 1px 1px 1px black;
    margin-bottom: 15px;}

.footer-config a{text-decoration: none;
    color:rgb(85, 107, 179);
    line-height: 30px;}

@media(max-width: 730px){
    .footer-flex{flex-direction: column;}}